{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
<link href="{% static 'user_profile/css/home.css'%}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-3">
            <a style="text-decoration: none; color:white;" href="{% url 'transactions' %}">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="fonte-destaque">$ {{income|floatformat:2}}</span>
                        </div>
                        <div class="col-md">
                            <img class="icone-setas" src="{% static 'user_profile/img/entradas.png' %}">
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a style="text-decoration: none; color:white;" href="{% url 'transactions' %}">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="fonte-destaque">$ {{expenses|floatformat:2}}</span>
                        </div>
                        <div class="col-md">
                            <img class="icone-setas" src="{% static 'user_profile/img/saidas.png' %}">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>
    <br>

    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="saldo">
                    <span class="fonte-destaque">Balance</span>
                    <br>
                    <span class="font-light">$ {{total_amount|floatformat:2}}</span>
                </div>
                <hr class="hr-borda">
                <p class="fonte-destaque">Accounts</p>

                <div class="div-contas">
                    {% for account in accounts %}

                    <div class="lista-conta">
                        <span><img width="07%" src="{{account.bank_icon.url}}">&nbsp&nbsp{{account.name}}</span>
                        <span class="{% if account.amount > 0 %} total-conta positivo {% else %} total-conta negativo {% endif %}">$ {{account.amount|floatformat:2}}</span>
                    </div>
                    <br>
                    {% endfor %}


                </div>
                <hr class="hr-borda">
                <a href="{% url 'management' %}" class="botao-principal">Account Management</a>
            </div>

        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="row">
                    <div class="col-md">
                        <div class="saldo">
                            <span class="fonte-destaque">Monthly Balance</span>
                            <br>
                            <span class="font-light">$ {{income|floatformat:2}}</span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="despesa">
                            <span class="fonte-destaque">Monthly Expenses</span>
                            <br>
                            <span class="font-light">$ {{expenses|floatformat:2}}</span>
                        </div>

                    </div>

                </div>
                <hr class="hr-borda">
                <span class="fonte-destaque">Total Available</span>
                <span class="{% if total_monthly > 0 %} total-conta positivo {% else %} total-conta negativo {% endif %}">$ {{total_monthly|floatformat:2}}</span>
                <hr class="hr-borda">
                <a href="{% url 'transactions'%}" class="botao-principal">Add New Transaction</a>
                <hr class="hr-borda">
                <a href="{% url 'transactions_views'%}" class="botao-principal" style="margin-bottom: 43px">Statements</a>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="saldo">
                    <span class="fonte-destaque">Planning</span>
                </div>
                <hr class="hr-borda">
                <a href="{% url 'planning_views' %}" class="botao-principal" style="margin-top:20px">View Planning</a>

                <hr class="hr-borda">
                <a href="{% url 'create_planning' %}" class="botao-principal" style="margin-bottom:70px">Create Planning</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <span class="fonte-destaque">Financial Health</span>
                <hr class="hr-borda">

                <p>Essential Expenses</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{essential_percentage}}%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <p>Non-essential Expenses</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{non_essential_percentage}}%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <hr class="hr-borda">
                <a href="{% url 'management' %}" class="botao-principal">Edit Essential Category</a>

            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="saldo">
                    <span class="fonte-destaque">Statistics</span>
                </div>
                <hr class="hr-borda">
                <a  href="{% url 'dashboard' %}"><img src="{% static 'user_profile/img/dashboard.png' %}" alt="Annual Dashboad" width="380" height="250" style="margin-bottom: 57px"></a>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <span class="fonte-destaque">Invoices</span>
                <hr class="hr-borda">

                <span class="fonte-destaque">Pending Invoices</span>
                <span class="fonte-light">{{due_invoices}} due invoice{{ x|pluralize:'s' }}</span>
                <br>
                <span class="fonte-destaque negativo">Past due</span>
                <span class="fonte-light">{{past_due_invoices}} past due invoice{{ x|pluralize:'s' }}</span>
                <hr class="hr-borda">
                <a href="{% url 'add_invoice'%}" class="botao-principal">Add New Invoice</a>
                <hr class="hr-borda">

                <a href="{% url 'show_invoices' %}" class="botao-principal">See more</a>

            </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}