{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}

<link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
<link href="{% static 'perfil/css/gerenciar.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <p class="fonte-destaque">Accounts</p>
            <hr>

            <div class="contas">


                <div class="lista-contas-main">
                    <span><img width="10%" src="#">&nbsp&nbspBank 1</span>

                    <span class="total-conta positivo ">$ 1.800,00&nbsp&nbsp&nbsp <a href="#"><img
                                src="{% static 'perfil/img/exit.png' %}"></a></span>
                </div>
                <br>


            </div>

            <hr>
            <span class="fonte-destaque">Total:</span>
            <span class="positivo total-conta font-destaque">$ 1.800,00</span>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-5">
            <p class="fonte-destaque">Create New Account</p>

            <form action="{% url 'create_bank_account' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="">
                <br>
                <label>Bank</label>
                <select name="bank" class="form-select">
                    <option value="NU">Nubank</option>
                </select>
                <br>
                <label>Type</label>
                <select name="type" class="form-select">
                    <option value="pf">Personal Account</option>
                    <option value="pj">Business Account</option>
                </select>
                <br>
                <label>Amount</label>
                <input type="number" name="amount" class="form-control" placeholder="">
                <br>
                <input type="file" placeholder="Icon" name="icon" required>
                <br>
                <br>
                <input style="width: 100%" type="submit" class="botao-principal" value="Create">
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-5">
            <p class="fonte-destaque">Create New Category</p>

            <form action="" method="POST">
                <label>Category</label>
                <input type="text" name="categoria" class="form-control">
                <br>

                <input type="checkbox" name="essencial" value="essencial"><label class="positivo">&nbspEssential</label>
                <br>
                <br>
                <input style="width: 100%" type="submit" class="botao-principal" value="Adicionar">
            </form>
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-5">
            <span class="fonte-destaque">Categories</span>
            <br>
            <div class="contas">


                <div class="lista-contas-main">
                    <span>Lazer</span>

                    <span class="total-conta"><a href="#"><img src="#"></a></span>
                </div>
                <br>


            </div>
        </div>
    </div>
</div>
{% endblock %}