{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}

    <link href="{% static 'user_profile/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'user_profile/css/management.css' %}" rel="stylesheet">
    <link href="{% static 'statement/css/transactions_views.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}

    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-2 text-center">
            </div>
            <div class="col-md">
            <div class="card">
                        <p>Monthly Income Planned</p>
                        <div>
                        <span style="float: left !important;">$ {{available_income}}</span>
                        <span style="float: right !important;">$ {{income_limit}}</span>
                        </div>
                        <div class="progress" style="height:30px; border-radius:10px">
                            <div class="{% if available_income_percentage > 50 %} progress-bar bg-success {% elif available_income_percentage > 20 %} progress-bar bg-warning {% else %} progress-bar bg-danger {% endif %}" role="progressbar" style="width: {{available_income_percentage}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                </div>
            </div>
            <div class="col-md-2 text-center">
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-md-2 text-center">
            </div>
            <div class="col-md">
            <div class="card">
                    {% for category in categories %}
                        <p>{{category}}</p>
                        <div>
                        <span style="float: left !important;">$ {{category.total_spent}}</span>
                        <span style="float: right !important;">$ {{category.limit}}</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: {{category.get_percentage}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-2 text-center">
            </div>
        </div>
    </div>



{% endblock %}